<mat-toolbar class="nav-container">
  <button mat-button routerLink="/">Home</button>

  <div *ngIf="role=='Student'">
  <button mat-button routerLink="/student/owned">Owned</button>
  <button mat-button >Profile</button>
  <button mat-button [matMenuTriggerFor]="menu">Category</button>
  <mat-menu #menu="matMenu"> <div *ngFor="let c of category">
    <button mat-menu-item [routerLink]="['/book/category/', c]">{{c}}</button>
  </div>
  </mat-menu>


  </div>

  <div *ngIf="role=='Librarian'">
    <button mat-button routerLink="/librarian/book/add">Add a Book</button>
    <button mat-button routerLink="/librarian/addBookItem">Add a Copy</button>
    <button mat-button routerLink="/librarian/transaction/issue">Issue Book</button>
    <button mat-button routerLink="/librarian/transaction/return">Return Book</button>
    <button mat-button [matMenuTriggerFor]="menu" >Category</button>
    <mat-menu #menu="matMenu"> <div *ngFor="let c of category">
      <button mat-menu-item [routerLink]="['/book/category/', c]">{{c}}</button>
    </div>
    </mat-menu>


  </div>
    <div *ngIf="role=='Librarian'; else else_content" class="logout-librarian-container">

      <button mat-button (click)="logout()">Logout</button>
    </div>

  <ng-template #else_content>
    <div class="logout-student-container">
    <button mat-button (click)="logout()">Logout</button>
    </div>
  </ng-template>

  </mat-toolbar>
