
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
    <mat-form-field appearance="standard">
      <mat-label>Book Title</mat-label>
      <input matInput name="title" [(ngModel)]="book.title" #title="ngModel" required />
      <!--<mat-error *ngIf="title.errors">Required</mat-error>-->
    </mat-form-field>
  <mat-form-field>
    <textarea matInput name="description" placeholder="Book Description" [(ngModel)]="book.description" [cdkTextareaAutosize] required></textarea>
  </mat-form-field>
    File: <input type="file" name="image" (change)="onSelectedFile($event)" required>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select name="category" [formControl]="categoryControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let categoryTemp of categories" [value]="categoryTemp" (click)="getCategorySelected(categoryTemp)">
        {{categoryTemp}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="categoryControl.hasError('required')">Please choose a Category</mat-error>
  </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Book Author</mat-label>
      <input matInput name="author" [(ngModel)]="book.author" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Book Edition</mat-label>
      <input matInput name="edition" [(ngModel)]="book.edition" required>
    </mat-form-field>
      <mat-form-field appearance="standard">
      <mat-label>Book Publisher</mat-label>
      <input matInput name="publisher" [(ngModel)]="book.publisher" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Book Image</mat-label>
      <input matInput name="image" [(ngModel)]="book.image">
    </mat-form-field>
<table class="max-width"><tr>
  <td><mat-form-field appearance="standard">
    <mat-label>Number of Pages</mat-label>
    <input type="number" matInput name="pages" [(ngModel)]="book.numberOfPages" required>
  </mat-form-field>
  </td>
  <td>
  <mat-form-field appearance="standard">
    <mat-label>Language</mat-label>
    <input matInput name="language" [(ngModel)]="book.language" required>
  </mat-form-field>
  </td>
  <td>
    <mat-form-field appearance="standard">
      <mat-label>ISBN</mat-label>
      <input type="number" matInput name="isbn" [(ngModel)]="book.isbn" required>
    </mat-form-field>
  </td>
</tr>
</table>
  <br>
  <button mat-raised-button>Add Book</button>
  </form>
