<!--The content below is only a placeholder and can be replaced.-->

<app-navbar *ngIf="isLogged" [role]="currentUser.role"></app-navbar>
<!--<app-book-information-page></app-book-information-page>-->
<!--<app-book-list></app-book-list>-->
<!--<app-book-list></app-book-list>-->
<!--<app-book-owned-list></app-book-owned-list>-->
<!--<app-book-form></app-book-form>-->
<!--<app-information-box></app-information-box>-->
<!--<app-book-item-management></app-book-item-management>-->
<!--<app-image-test></app-image-test>-->
<router-outlet></router-outlet>
