.information-box-container{
  width: 90%;
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.information-box-container button{
  width: 20%;
  margin-left: 15%;
}
